body
	{
		background-color: lightgrey;
	}

a:link, a:visited
	{
		color: blue;
		background-color: lightblue;
		text-decoration: none;
		padding: 16px;
		text-align: center;
		display: inline-block;
		font-family: verdana; 
	}

a:hover
	{  
		color:green;
		background-color: yellow;
		text-decoration: underline; 
	}

a:active
	{
		color:white;
		background-color: red;
		text-decoration: underline;
	}